<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ugani državo</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <style>
        .jumbotron h1 {
            text-align: center;
        }
        .container {
            background-color: lightblue;
            font-size: 2em;
            text-align: center;
            padding: 1em 1em;
        }
        .container h1 {
            font-size: 2em;
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="jumbotron">
        <h1>Dobrodošel na strani Ugani državo!</h1>
    </div>

    <div class="container">

        {% block content %}{% endblock %}

    </div>
</body>
</html>